<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="./styles.css">
  <title>Proyecto 3 Vue</title>
</head>

<body>
  <div id="app">

    <div class="container-main">

      <div class="login container main">
        <h2 class="title">
          <span class="material-symbols-outlined">login</span> Bienvenido Al Sistema!
        </h2>
        <form v-on:submit.prevent="login">
          <div class="user">
            <span class="material-symbols-outlined">account_circle</span>
            <select v-model="selected" id="selected">
              <option value="admin">Administrador</option>
              <option value="secretario">Secretario</option>
              <option value="vendedor">Vendedor</option>
              <option value="ensamblador">Ensamblador</option>
            </select>
          </div>
          <div class="password">
            <span class="material-symbols-outlined">visibility_off </span>
            <input v-model="password" type="password" placeholder="Escribe Tu Password" />
          </div>
          <input class="button" type="submit" value="Enviar" />
        </form>
      </div>

      <template v-if="is.isAdmin">
        <div class="content container">
          <div class="header">
            <div class="title">
              <h1>{{message}}</h1>
            </div>
            <div class="actions">
              <nav>
                <a href="#info" @click="showSalary">Salarios Base</a>
                <a href="#info">Informes Liquidacion</a>
                <a href="#info" @click="showMax">Max. Cantidad Ztos - Zapatillas</a>
                <a href="#info" @click="showAmount">Precio Ensamble Ztos - Zapatillas</a>
                <a href="#info" @click="showCommission">Comision Sobre Ventas</a>
              </nav>
            </div>
          </div>
          <div class="info container" id="info">

            <template v-if="show.salary">
              <div class="container box">
                <h2>Modificar Salarios Base</h2>
                <div class="box-content container">
                  <h3>Salario Base : {{salaryBase}}</h3>
                  <input v-model.number="salary" @keyup="verificarNum" type="number" placeholder="Introducir Salario">
                  <button v-show="button" @click="changeSalary" class="btn-info">Cambiar Salario</button>
                </div>
              </div>
            </template>

            <template v-if="show.max">
              <div class="container box">
                <h2>Modificar Max. Cantidad Zapatos - Zapatillas</h2>
                <div class="box-content container">
                  <h3> Cantidad Max Zapatos : {{maxZapatos}}</h3>
                  <input @keyup="verificarNum" v-model.number="maxZapatos" type="number" placeholder="Cantidad Zapatos">
                  <button v-show="button" @click="changeMaxZptos" class="btn-info">Cambiar Cantidad Zapatos</button>
                </div>
                <div class="box-content container">
                  <h3> Cantidad Max Zapatillas : {{maxZapatillas}}</h3>
                  <input @keyup="verificarNum" v-model.number="maxZapatillas" type="number"
                    placeholder="Cantidad Zapatillas">
                  <button v-show="button" @click="changeMaxZtillas" class="btn-info">Cambiar Cantidad
                    Zapatillas</button>
                </div>
              </div>
            </template>

            <template v-if="show.amount">
              <div class="container box">
                <h2>Modificar Precio Ensamble Zapatos - Zapatillas</h2>
                <div class="box-content container">
                  <h3> Precio Ensamble Zapato : {{ensambleZapato}}</h3>
                  <input @keyup="verificarNum" v-model.number="ensambleZapato" type="number"
                    placeholder="Precio Ensamble Zapatos">
                  <button v-show="button" @click="changePriceZpatos" class="btn-info">Cambiar Precio Ensamble
                    Zapatos</button>
                </div>
                <div class="box-content container">
                  <h3> Precio Ensamble Zapatillas : {{ensambleZapatilla}}</h3>
                  <input @keyup="verificarNum" v-model.number="ensambleZapatilla" type="number"
                    placeholder="Precio Ensamble Zapatillas">
                  <button v-show="button" @click="changePriceZtillas" class="btn-info">Cambiar Precio Ensamble
                    Zapatillas</button>
                </div>
              </div>
            </template>

            <template v-if="show.commission">
              <div class="container box">
                <h2>Modificar Comison Ventas</h2>
                <div class="box-content container">
                  <h3> Modificar Porcentaje Comision Ventas : {{comisionVentas}} %</h3>
                  <input @keyup="verificarNum" v-model.number="comisionVentas" type="number"
                    placeholder="Comision Ventas">
                  <button v-show="button" @click="changeCommission" class="btn-info">Cambiar Porcentaje Comision
                    Ventas</button>
                </div>
              </div>
            </template>

          </div>
          <div class="container btn-border">
            <button @click="logout" class="btn-info container"><span
                class="material-symbols-outlined">logout</span>Salir</button>
          </div>
        </div>
      </template>


      <template v-if=" is.isSecretario">
        <div class="content container">
          <div class="header">
            <div class="title">
              <h1>{{message}}</h1>
            </div>
            <div class="actions">
              <nav>
                <a href="#info">Horas Extras Trabajadas</a>
              </nav>
            </div>
          </div>
          <template v-if="!liquidacionSecretario.liquidado">
            <h2>Enviar Horas Extras</h2>
            <div class="info container" id="info">
              <input v-model.number="horasExtrasSecretario" type="number" placeholder="Digite horas extras">
              <button @click="calcHorasExtras" class="btn-info">Enviar Horas Extras Trabajadas</button>
            </div>
          </template>
          <template v-else>
            <div class="info container" id="info">
              <h3>Hola señor {{liquidacionSecretario.empleado}} le muestro un resumen de su liquidacion : </h3>
              <ul>
                <li>Salario Base: {{liquidacionSecretario.salarioBase}}</li>
                <li>Valor Horas Extras Trabajadas: {{liquidacionSecretario.valorHorasExtras}}</li>
                <li>Total Liquidado: {{liquidacionSecretario.total}}</li>
              </ul>
            </div>
          </template>
          <div class="container btn-border">
            <button @click="logout" class="btn-info container"><span
                class="material-symbols-outlined">logout</span>Salir</button>
          </div>
        </div>
      </template>

      <template v-if="is.isVendedor">
        <div class=" content container">
          <div class="header">
            <div class="title">
              <h1>{{message}}</h1>
            </div>
            <div class="actions">
              <nav>
                <a href="#info">Cantidad De Ventas Zapatos - Zapatillas</a>
              </nav>
            </div>
          </div>
          <div class="info container" id="info">
            <input type="text" placeholder="Cantidad De Zapatos Vendidos">
            <input type="text" placeholder="Cantidad De Zapatillas Vendidas">
            <button class="btn-info">Enviar Cantidad De Zapatos - Zapatillas</button>
          </div>
          <div class="container btn-border">
            <button @click="logout" class="btn-info container"><span
                class="material-symbols-outlined">logout</span>Salir</button>
          </div>
        </div>
      </template>

      <template v-if="is.isEnsamblador">
        <div class=" content container">
          <div class="header">
            <div class="title">
              <h1>{{message}}</h1>
            </div>
            <div class="actions">
              <nav>
                <a href="#info" @click="showExtras">Horas Extras Trabajadas</a>
                <a href="#info" @click="showCantidadEnsambles">Cantidad De Ensambles Zapatos - Zapatillas</a>
              </nav>
            </div>
          </div>
          <div class="info container" id="info">

            <template v-if="showEnsamblador.extras">

              <template v-if="!liquidacionEnsamblador.liquidado">
                <h2>Enviar Horas Extras</h2>
                <div class="info container" id="info">
                  <input v-model.number="horasExtrasEnsamblador" type="number" placeholder="Digite horas extras">
                  <button @click="calcHorasExtras" class="btn-info">Enviar Horas Extras Trabajadas</button>
                </div>
              </template>
              <template v-else>
                <div class="info container" id="info">
                  <h3>Hola señor {{liquidacionEnsamblador.empleado}} le muestro un resumen de su liquidacion : </h3>
                  <ul>
                    <li>Salario Base: {{liquidacionEnsamblador.salarioBase}}</li>
                    <li>Valor Horas Extras Trabajadas: {{liquidacionEnsamblador.valorHorasExtras}}</li>
                    <li>Total Liquidado: {{liquidacionEnsamblador.total}}</li>
                  </ul>
                </div>
              </template>
          </div>
      </template>


      <template v-if="showEnsamblador.cantidadEnsambles">
        <div class="container box">
          <h2>Enviar Cantidad De Zapatos - Zapatillas Ensamblados</h2>
          <div class="box-content container">
            <div class="zapatos-ensamblados">
              <input type="text" placeholder="Ingrese la cantidad de Ensambles de zapatos">
              <input type=" text" placeholder="Ingrese la cantidad de Ensambles de zapatillas">
              <button class="btn-info">Enviar Zapatos - Zapatillas</button>
            </div>
          </div>
        </div>
      </template>

    </div>
    <div class="container btn-border">
      <button @click="logout" class="btn-info container"><span
          class="material-symbols-outlined">logout</span>Salir</button>
    </div>
  </div>
  </template>

  </div>
  </div>


  <!-- CDN Vue - development version, includes helpful console warnings -->
  <script src=" https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- CDN Vue -  production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

  <!-- JS -->
  <script src="./main.js"></script>
</body>


</html>