<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="./styles.css">
  <title>Proyecto 3 Vue</title>
</head>

<body>
  <div id="app">

    <div class="container-main">

      <div class="login container main">
        <h2 class="title">
          <span class="material-symbols-outlined">login</span> Bienvenido Al Sistema!
        </h2>
        <form action="" v-on:submit.prevent="login">
          <div class="user">
            <span class="material-symbols-outlined">account_circle</span>
            <select v-model="selected" id="selected">
              <option value="admin">Administrador</option>
              <option value="secretario">Secretario</option>
              <option value="vendedor">Vendedor</option>
              <option value="ensamblador">Ensamblador</option>
            </select>
          </div>
          <div class="password">
            <span class="material-symbols-outlined">visibility_off </span>
            <input v-model="password" type="password" placeholder="Escribe Tu Password" />
          </div>
          <input class="button" type="submit" value="Enviar" />
        </form>
      </div>

      <template v-if="is.isAdmin">
        <div class="content container">
          <div class="header">
            <div class="title">
              <h1>{{message}}</h1>
            </div>
            <div class="actions">
              <nav>
                <ul>
                  <li><a href="#info" @click="showSalary">Salarios Base</a></li>
                  <li><a href="#info">Informes Liquidacion</a></li>
                  <li><a href="#info">Max. Cantidad Zapatos - Zapatillas</a></li>
                  <li><a href="#info">Precio Emsable Zapatos - Zapatillas</a></li>
                  <li><a href="#info">Comision Sobre Ventas</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="info container" id="info">
            <p>AQUI IRA HTML QUE SE AGREGARA CUANDO LAS FUNCIONES ESTEN LISTAS</p>
          </div>
        </div>
      </template>


      <template v-if="is.isSecretario">
        <div class="content container">
          <div class="header">
            <div class="title">
              <h1>{{message}}</h1>
            </div>
            <div class="actions">
              <nav>
                <ul>
                  <li><a href="#info">Horas Extras Trabajadas</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="info container" id="info">
            <input type="text" placeholder="Cantidad de horas extras">
            <button>Enviar Horas Extras Trabajadas</button>
          </div>
        </div>
      </template>

      <template v-if="is.isVendedor">
        <div class=" content container">
          <div class="header">
            <div class="title">
              <h1>{{message}}</h1>
            </div>
            <div class="actions">
              <nav>
                <ul>
                  <li><a href="#info">Cantidad De Ventas Zapatos - Zapatillas</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="info container" id="info">
            <input type="text" placeholder="Cantidad De Zapatos Vendidos">
            <input type="text" placeholder="Cantidad De Zapatillas Vendidas">
            <button>Enviar Cantidad De Zapatos - Zapatillas</button>
          </div>
        </div>
      </template>

      <template v-if="is.isEnsamblador">
        <div class=" content container">
          <div class="header">
            <div class="title">
              <h1>{{message}}</h1>
            </div>
            <div class="actions">
              <nav>
                <ul>
                  <li><a href="#info">Horas Extras Trabajadas</a></li>
                  <li><a href="#info">Cantidad De Ensambles Zapatos - Zapatillas</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="info container" id="info">
            <div class="horas-extras">
              <input type="text" placeholder="Ingrese la cantidad de horas extras trabajadas">
              <button>Enviar Horas Extras Trabajadas</button>
            </div>

            <div class="zapatos-ensamblados">
              <input type="text" placeholder="Ingrese la cantidad de Ensambles de zapatos">
              <input type=" text" placeholder="Ingrese la cantidad de Ensambles de zapatillas">
              <button>Enviar Zapatos - Zapatillas</button>
            </div>

          </div>
        </div>
      </template>

    </div>
  </div>


  <!-- CDN Vue - development version, includes helpful console warnings -->
  <script src=" https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- CDN Vue -  production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

  <!-- JS -->
  <script src="./main.js"></script>
</body>


</html>